<div class="bg-contrast-lower padding-sm margin-top-md">
  <p class="text-bold">Got questions?</p>
  <p class="text-sm"> Our friendly specialists here to help. Chat with us now and we’ll give you a hand.</p>
  <a class="link padding-top-md" onclick="GorgiasChat.open();">Start a chat</a>
</div>